{% extends 'base.html.twig' %}

{% block body %}
    <h2>Liste de films à voir absolument</h2>
    <ol>
        {% for movie in movies %}
            <li><a href="{{ path('movie_detail', {'id': movie.id}) }}">{{ movie.title }}</a> ({{ movie.country }}) sorti en {{ movie.releaseYear }}</li>
        {% else %}
            Aucun film n'a été ajouté pour l'instant.
        {% endfor %}
    </ol><br>
    <h3><a href="{{ path('movie_create') }}" class="bt">Ajouter un film</a></h3>
    <br><hr>
    <p><a href="{{ path('home_index') }}" class="bt">Retour à l'accueil</a></p>
{% endblock %}

{% block title %}{{ parent() }} - Liste de films{% endblock %}

